# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Crafo\Resilio Sync\CRAFO\uni\INTEGRADOR\StarfallStudios\FallenLegends\Backend\PythonBackend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
